<template>
  <basic-form ref="code" :form="formElements" @onSubmit="onSubmit" @update="onInput">
    <template v-slot:action>
      <p v-if="isError" class="text-negative">{{error}}</p>
      <div class="btns-container column">
        <basic-button
          :elem="{flat: true, disable: !!timeToResend}"
          :content="true"
          class="items-start row text-16 q-px-none q-py-md"
          @onClick="$emit('back')"
        >
          <template v-slot>
            <span class="underline">{{$t('login.resendcode')}}</span>
            <span v-if="!!timeToResend" class="q-mx-sm">{{`(${timeToResend})`}}</span>
          </template>
        </basic-button>

        <basic-button
          :elem="{ label: $t('common.send'), type: 'submit', unelevated: true, loading, ripple: false }"
          class="black-btn text-16"
        />
      </div>
    </template>
  </basic-form>
</template>

<script>
import global from 'src/mixins/global';
import BasicForm from 'components/views/common/forms/BasicForm.vue'
import BasicButton from 'components/views/common/buttons/BasicButton.vue'

export default ({
  name: 'Code',
  mixins: [global],
  components: { BasicForm, BasicButton },
  emits: ['back', 'connect'],
  props: ['error'],
  data: () => ({
    code: '',
    timeToResend: 30,
    codeInterval: null,
    loading: false,
    isError: false
  }),
  computed: {
    formElements() {
      return {
        fields: {
          code: {
            value: null,
            kind: 'basicInput',
            color: 'black',
            label: this.$t('login.code'),
            rules: this.codeRules,
            lazyRules: 'ondemand',
            classWrapper: 'full-width input text-left',
            append: true
          }
        }
      }
    },
    codeRules() {
      return [
        v => !!v || this.$t('rules.code'),
        v => v && v.length === 4 || this.$t('rules.phoneValid')
      ]
    }
  },
  watch: {
    code() {
      this.$nextTick(() => this.$refs.code.resetValidation());
    },
    error(val) {
      this.isError = !!val
    }
  },
  mounted() {
    this.startTimer()
  },
  methods: {
    onInput() {
      this.isError = false
    },
    onSubmit(values) {
      this.loading = true
      this.$emit('connect', values, () => {
        this.loading = false
      })
    },
    startTimer() {
      this.codeInterval = setInterval(() => {
        this.timeToResend--;
        if (!this.timeToResend) {
          clearInterval(this.codeInterval);
        }
      }, 1000);
    }
  }
})
</script>

<style lang="scss" scoped>
.btns-container {
  width: 50%;
}
</style>
