<template>
  <div>
    <basic-form :form="form" @onSubmit="onSubmit">
      <template v-slot:action>
        <p v-if="isValid" class="text-negative">{{error}}</p>

        <basic-button :elem="signinBtn" class="black-btn text-16 q-my-sm" />
      </template>
    </basic-form>

    <div class="row text-16">
      <p class="self-center q-mb-none">{{$t('login.signinText')}}</p>
       <basic-button
        :elem="loginBtn"
        class="text-16 underline q-mx-sm"
        @onClick="$emit('signin', 'login')"
      />
    </div>
  </div>
</template>

<script>
import global from 'src/mixins/global';
import { regexEmail } from 'src/services/utils';

import BasicForm from 'components/views/common/forms/BasicForm.vue'
import BasicButton from 'components/views/common/buttons/BasicButton.vue'

export default ({
  name: 'NewUser',
  mixins: [global],
  components: { BasicForm, BasicButton },
  emits: ['signin', 'connect'],
  props: ['regionCode', 'error'],
  emits: ['update:regionCode', 'connect'],

  data: () => ({
    // profile: {
    //   firstName: '',
    //   lastName: '',
    //   email: '',
    //   phone: '',
    // },
    phoneRules: [],
    nameRules: [],
    emailRules: [],
    loading: false,
    isValid: false,

  }),

  computed: {
    form() {
      return {
        fields: {
          firstName: {
            kind: 'basicInput',
            value: null,
            lazyRules: true,
            label: this.$t('login.firstName'),
            rules: this.nameRules,
            class: 'full-width input text-left',
          },
          lastName: {
            kind: 'basicInput',
            value: null,
            lazyRules: true,
            label: this.$t('login.lastName'),
            rules: this.nameRules,
            class: 'full-width input text-left',
          },
          email: {
            kind: 'basicInput',
            value: null,
            lazyRules: true,
            label: this.$t('login.email'),
            rules: this.emailRules,
            class: 'full-width input text-left',
          },
          phone: {
            kind: 'phoneInput',
            value: null,
            lazyRules: true,
            label: this.$t('login.phone'),
            rules: this.phoneRules,
            class: 'full-width input text-left',
            regionCode: this.regionCode
          }
        }
      }
    },
    signinBtn() {
      return {
        type: 'submit',
        label: this.$t('login.loginBtn'),
        loading: this.loading
      }
    },
    loginBtn() {
      return {
        label: this.$t('login.signinAction'),
        color: 'primary',
        flat: true,
        padding: 'none'
      }
    }
  },

  watch: {
    error() {
      this.isError = !!this.error
    }
  },

  created() {
    this.phoneRules = [
      v => !!v || this.$t('rules.phone'),
      v => v && v.length > 7 || this.$t('rules.phoneValid')
    ]
    this.nameRules = [
      v => !!v || this.$t('rules.name'),
      v => v && v.length > 1 || this.$t('rules.name')
    ]
    this.emailRules = [
      v => !!v || this.$t('rules.email'),
      v => regexEmail.test(v) || this.$t('rules.emailValid')
    ]
  },

  methods: {
    onInput() {
      this.isError = false
    },
    onSubmit(values) {
      this.loading = true
      this.$emit('connect', values, () => {
        this.loading = false
      })
    }
  }
})
</script>

<style lang="scss" scoped>
.q-btn {
  &::v-deep {
    &.q-hoverable:hover > .q-focus-helper {
      opacity: 0;
    }
  }
}
</style>
