<template>
  <basic-form ref="phone" :form="formElements" @onSubmit="onSubmit">
    <template v-slot:action>
      <p v-if="isError" class="text-negative">{{error}}</p>
      <basic-button :elem="loginBtn" class="black-btn text-16 q-my-sm" />
    </template>
  </basic-form>

  <div class="row text-16">
    <p class="self-center q-mb-none">{{$t('login.signupText')}}</p>
    <basic-button
      :elem="signupBtn"
      class="text-16 underline q-mx-sm"
      @onClick="$emit('signup', 'signup')"
    />
  </div>
</template>

<script>
import global from 'src/mixins/global';
import BasicForm from 'components/views/common/forms/BasicForm.vue'
import BasicButton from 'components/views/common/buttons/BasicButton.vue'

export default ({
  name: 'Phone',
  mixins: [global],
  components: { BasicForm, BasicButton },
  props: ['regionCode', 'error'],
  emits: ['connect', 'signup', 'update'],
  data: () => ({
    phone: '',
    showDialog: false,
    loading: false,
    isError: false
  }),
  computed: {
    phoneRules() {
      return [
        v => !!v || this.$t('rules.phone'),
        v => v && v.length > 7 || this.$t('rules.phoneValid')
      ]
    },
    formElements() {
      return {
        autocomplete: 'on',
        action: true,
        fields: {
          phone: {
            kind: 'phoneInput',
            value: null,
            label: this.$t('login.phone'),
            name: 'phone',
            rules: this.phoneRules,
            regionCode: this.regionCode
          }
        }
      }
    },
    loginBtn() {
      return {
        type: 'submit',
        label: this.$t('login.loginBtn'),
        loading: this.loading
      }
    },
    signupBtn() {
      return {
        label: this.$t('login.signupAction'),
        color: 'primary',
        flat: true,
        padding: 'none'
      }
    }
  },
  watch: {
    error(val) {
      this.isError = !!val
    }
  },
  methods: {
    onInput(val) {
      this.isError = false;
    },
    updateRegionCode(value) {
      const code = value.iso2.toString().toLowerCase();
      this.$emit('update', code);
    },
    onSubmit(values) {
      this.loading = true
      this.$emit(`connect`, values, () => {
        this.loading = false
      })
    },
  }
})
</script>

<style lang="scss" scoped>
@import '~src/css/flags.css';

.q-btn {
  &::v-deep {
    &.q-hoverable:hover > .q-focus-helper {
      opacity: 0;
    }
  }
}
</style>
