<template>
  <q-page class="page-container q-mx-auto q-mt-xl">
    <login-controller/>
  </q-page>
</template>

<script>
import LoginController from 'components/controllers/LoginController.vue'
export default {
  name: 'Login',
  components: { LoginController },
}
</script>

<style lang="scss" scoped>
.page-container {
  width: 350px;
}
</style>
