<template>
  <div class="">
   <p>graph</p>
   <p>coming soon</p>
  </div>
</template>

<script>
export default {
  name: 'RsvpGraph',
  data: () => ({}),
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>
</style>
