<template>
  <div class="handle-container">
    <div class="handle-width text-15 q-my-md q-px-lg">
      <div v-if="item.viewedAt !== 'Invalid Date'" class="row q-mb-sm">
        <p class="grey-2 col-4 q-mb-none">{{$t('rsvp.sent')}}</p>
        <p class="col-8 q-mb-none">{{label(item.viewedAt)}}</p>
      </div>
      <div v-if="item.repliedAt !== 'Invalid Date'" class="row q-mb-sm">
        <p class="grey-2 col-4 q-mb-none">{{$t('rsvp.viewed')}}</p>
        <p class="col-8 q-mb-none">{{label(item.repliedAt)}}</p>
      </div>
      <div class="row q-mb-sm">
        <p class="grey-2 col-4 q-mb-none">{{$t('rsvp.size')}}</p>
        <p class="col-8 q-mb-none">{{item.size || '--'}}</p>
      </div>
      <div class="row q-mb-sm">
        <p class="grey-2 col-4 q-mb-none">{{$t('rsvp.area')}}</p>
        <p class="col-8 q-mb-none">{{item.area || '--'}}</p>
      </div>
    </div>
    <q-separator/>

    <q-item tag="label" class="handle-width toggle-container">
      <q-item-section>
        <q-item-label class="text-15 grey-2">{{$t('rsvp.callMade')}}</q-item-label>
      </q-item-section>
      <q-item-section class="items-end">
        <q-toggle color="priimary" v-model="makeCall" />
      </q-item-section>
    </q-item>
    <q-separator class="q-mb-md"/>

    <!-- actions btns -->
    <div class="action-btns handle-width row justify-between full-width q-pb-md q-px-lg">
      <basic-button
        :elem="{ label: $t('rsvp.confirmRsvp') }"
        class="black-btn q-mx-sm"
      />
      <basic-button
        :elem="{label: $t('rsvp.cancelRsvp')}"
        class="black-btn"
        @onClick="cancelDialog = true"
      />
    </div>

    <!-- cancel dialog -->
    <basic-dialog :modal="cancelDialog" :dialog-class="dialogClass">
      <template v-slot:content >
        <img src="/icons/rsvp/sms.svg" class="q-mb-sm"/>
        <p class="q-mb-none">{{$t('rsvp.dialogText1')}}</p>
        <p>{{$t('rsvp.dialogText2')}}</p>
        <p>{{$t('rsvp.dialogText3')}}</p>
      </template>

      <template v-slot:actions>
        <basic-button
          :elem="{ label: $t('common.return') }"
          class="black-btn q-mx-sm"
          @click="cancelDialog = false"
        />
        <basic-button
          :elem="{ label: $t('rsvp.cancelRsvp') }"
          class="black-btn"
        />
      </template>
    </basic-dialog>
  </div>
</template>

<script>
import moment from 'moment'
import RsvpItem from 'components/views/rsvp/RsvpItem.vue'
import BasicButton from 'components/views/common/buttons/BasicButton.vue'
import BasicDialog from 'components/views/common/dialogs/BasicDialog.vue'
export default {
  name: 'RsvpHandle',
  components: { RsvpItem, BasicButton, BasicDialog },
  props: ['item'],
  data: () => ({
    makeCall: false,
    cancelDialog: false
  }),
  computed: {
    label() {
      return item => {
        return moment(item).format('HH:mm DD/MM/YY')
      }
    },
    btnLabel() {
      return action => {
        return this.$t(`rsvp.${action}Rsvp`)
      }
    },
    dialogClass() {
      return {
        content: 'column flex-center justify-center text-17',
        actions: 'action-btns row justify-between full-width q-pt-sm'
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.action-btns .q-btn {
  width: 47%;
  border-radius: 4px;
}
.phone-field {
  text-align: end;
}
.handle-width {
  max-width: 400px;
}
</style>
