<template>
  <div>
    <p v-if="list.length === 0" class="text-18 q-mx-md">{{$t('rsvp.noList')}}</p>
    <div class="list-container">
      <expanded-list 
        :list="listPerPage[page.toString()]" 
        :index="index"
        :hide="hide"
        item-class="shadow-list"
        id-tag="rsvp"
        @afterShow="onAfterShow"  
        @hide="onHide"
      >
      <template v-slot:header="{ item }" >
        <rsvp-item :item="item" class="item-container"/>
      </template>

      <template v-slot:expand="{ item }">
        <q-card class="expansion-container q-mb-xs">
          <q-card-section class="q-py-none q-px-none">
            <rsvp-handle :item="item"/>
          </q-card-section>
        </q-card>
      </template>

      </expanded-list>
    </div>

    <div class="pagination-container q-pa-md flex flex-center">
      <basic-pagination v-if="maxPage > 1" :max="maxPage" @change="onChange"/>
    </div>
  </div>
</template>

<script>
import ExpandedList from 'components/views/common/list/ExpandedList.vue'
import RsvpItem from 'components/views/rsvp/RsvpItem.vue'
import RsvpHandle from 'components/views/rsvp/RsvpHandle.vue'
import BasicPagination from 'components/views/common/pagination/BasicPagination.vue'
import global from 'src/mixins/global';

export default {
  name: 'RsvpList',
  mixins: [global],
  components: { ExpandedList, RsvpItem, RsvpHandle, BasicPagination },
  props: ['list'],
  data: () => ({
    page: 1,
    itemsPerPage: 10,
    index: null,
    hide: false
  }),
  computed: {
    maxPage() {
      const lenth = this.list.length;
      const extraPage = lenth % this.itemsPerPage > 0 ? 1 : 0
      return Math.floor(lenth / this.itemsPerPage) + extraPage;
    },
    listPerPage() {
      const count = this.itemsPerPage;
      const list = {}
      for (let i = 0; i < this.maxPage; i++) {
        list[(i+1).toString()] = this.list.slice(i * count, (i + 1) * count);
      }
      return list;
    },
  },
  methods: {
    onAfterShow(idx) {
      this.index = idx;
      this.$nextTick(() => {
        const el = document.getElementById(`rsvp-${this.index}`);
        const offset = !!el && el.offsetTop - 12;
        window.scrollTo({ top: offset, behavior: 'smooth' })
      })
    },
    onHide() {
      this.index = null;
      this.hide = false;
    },
    onChange(val) {
      this.page = val;
      this.index = null;
      this.hide = true;
      window.scrollTo({ top: 0, behavior: 'smooth' })
    }
  }
}
</script>

<style lang="scss" scoped>
.header-section {
  min-width: 320px;
}
.pagination-container {
  background-color: #f7f7f7;
  width: 100%;
}

@media (max-width: $breakpoint-sm-max) {  
}

@media (min-width: $breakpoint-md-min) {
  .header-section {
    min-width: 420px;
  }
  .pagination-container {
    background-color: #fff;
    right: 0;
    left: unset;
  }
}
</style>
