<template>
  <div class="item-container row no-wrap justify-between items-center full-width q-px-md q-px-md-none">
    <Basic-Select 
      :model="filter"
      :elem="{
        label,
        options: rsvpOptions,
        optionValue: 'id',
        optionLabel: 'label',
        mapOptions: true,
        emitValue: true,
        outlined: true,
        behavior: 'menu'
      }"
      :class="isDesktop ? 'col-4' : 'col-6'"
      @update:model-value="$emit('selectFilter', $event)"
    >
    </Basic-Select>
    <div class="acions-btns row">
      <basic-button :elem="{outline: true}" :content="true" class="q-mx-sm">
        <template v-slot >
          <img :src="`/icons/actions/email.svg`"/>
        </template>
      </basic-button>
      <basic-button :elem="{outline: true}" :content="true">
        <template v-slot >
          <img :src="`/icons/actions/delete.svg`"/>
        </template>
      </basic-button>
    </div>
  </div>
</template>

<script>
import global from 'src/mixins/global';
import BasicSelect from 'components/views/common/forms/BasicSelect.vue'
import BasicButton from 'components/views/common/buttons/BasicButton.vue'

export default {
  name: 'RsvpActions',
  mixins: [global],
  components: { BasicSelect, BasicButton },
  props: ['filter', 'summary'],
  emits: ['selectFilter'],
  data: () => ({}),
  computed: {
    rsvpOptions() {
      return Object.keys(this.summary).map((key) => {
        return { id: key, label: this.$t(`rsvp.${key}`) };
      });
    },
    label() {
      return this.$t(`rsvp.${this.filter}`)
    }
  }, 
  methods: {}
}
</script>

<style lang="scss">
.acions-btns .q-btn {
  width: 33px;
  background-color: #fff !important;
}
.q-btn {
  max-height: 33px;
  min-height: 33px;
}

@media (min-width: $breakpoint-md-min) {
  .q-menu {
    top: 60px !important;
  }
}
</style>
