<template>
  <div class="item-container row no-wrap full-width cursor-pointer">
    <div :class="iconBackground" class="icon-container flex flex-center">
      <img v-if="statusIcon" :src="`/icons/rsvp/${statusIcon}.svg`"/>
    </div>
    <div :class="isDesktop ? 'text-17' : 'text-15'" class="full-width q-pt-sm">
      <p class="grey-2 q-mb-none">{{time}}</p>
      <p><span>{{item.size}}</span>&nbsp;|&nbsp;<span>{{item.name}}</span></p>
    </div>
    <div class="column q-pt-md q-mr-sm">
      <img src="/icons/common/phone.svg" width="18px"/>
    </div>
    <q-separator vertical width="1px" class="q-my-sm"/>
    <div :class="isDesktop ? 'col-2' : 'col-3'" class="area-container column no-wrap items-center q-px-xs q-my-sm">
      <p class="grey-2 text-16 q-mb-none">{{item.area}}</p>
      <div class="row justify-center">
        <p v-for="table in tables" :key="table" :class="isDesktop ? 'text-16' : 'text-14'" class="text-bold q-mb-none q-px-xs">{{table}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import global from 'src/mixins/global';
export default {
  name: 'RsvpItem',
  mixins: [global],
  props: ['item'],
  computed: {
    time() {
       return this.item.time.slice(0, 2) + ':' + this.item.time.slice(2, 4)
    },
    statusIcon() {
        const status = this.item.status
        if (status === 'standby') {
            return null
        }
        return status.toLowerCase()
    },
    iconBackground() {
        const status = this.item.status;
        if (status === 'canceled' || status === 'deleted' || status === 'noShow') {
            return 'bg-negative'
        }
        if (this.item.answer === 'approve') {
            return 'bg-primary'
        }
        return 'bg-grey'
    },
    tables() {
        let tables = this.item.table || [];
        if (typeof tables === 'string') {
            tables = tables.split(",");
        }
        if (tables.length < 3) {
            return tables
        }
        return [tables[0], `(+${tables.length -1})`]
    }
  },
 
  methods: {
  }
}
</script>

<style lang="scss" scoped>
// .item-container {
//   height: 81px;
//   box-shadow: 0 2px 4px 0 rgb(192 192 192 / 50%);
//   background-color: #fff;
// }
.icon-container {
    min-width: 37px;
    margin-right: 12px;
}
.area-container {
    // width: 120px;
}
</style>
