<template>
  <div class="summary-container row q-mb-md q-px-md q-px-md-none">
    <q-item v-for="(item, idx) in summary" :key="idx" class="grey-2 q-pa-none">
      <p class="q-mb-none">{{item.value}}</p>&nbsp;
      <p class="q-mb-none">{{$t(`rsvp.${item.key}`)}}</p>
      <p v-if="idx !== summary.length -1" class="q-mb-none">,</p>&nbsp;
    </q-item>
  </div>
</template>

<script>
export default {
  name: 'RsvpSummary',
  props: ['summary'],
  computed: {}
}
</script>

<style lang="scss" scoped>
.summary-container {
  .q-item {
    min-height: unset;
  }
}
</style>
