<template>
  <div class="login-container column">
    <p class="text-21 almoni-bold q-mx-auto">{{$t(`login.${status}`)}}</p>
    <q-carousel
      v-model="stage"
      transition-prev="slide-right"
      transition-next="slide-left"
      animated
      height="500px"
    >
      <q-carousel-slide name="new">
        <new-user
          ref="form"
          :region-code.sync="regionCode"
          :error="error"
          @connect="setForm"
          @signin="changeStatus"
        />
      </q-carousel-slide>
      <q-carousel-slide name="phone">
        <phone
          :region-code.sync="regionCode"
          :error="error"
          @update="regionCode = $event"
          @connect="setPhone"
          @signup="changeStatus"
        />
      </q-carousel-slide>
      <q-carousel-slide name="code">
        <phone-code :error="error" @connect="setCode" @back="onBack" />
      </q-carousel-slide>
    </q-carousel>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'

// MIXINS
import global from 'src/mixins/global';

// COMPONENTS
import NewUser from 'components/views/login/NewUser';
import Phone from 'components/views/login/Phone';
import PhoneCode from 'components/views/login/Code';
import authentication from 'src/store/authentication';

export default ({
  name: 'LoginController',
  mixins: [global],
  components: { NewUser, Phone, PhoneCode },

  data: () => ({
    regionCode: 'il',
    showDialog: false,
    phone: null,
    stage: 'phone',
    status: 'login'
  }),
  computed: {
    ...mapState({
      error: state => state.authentication.error
    }),
    ...mapGetters({
    }),
  },

  methods: {
    ...mapMutations({
    }),
    ...mapActions({
      signupSendCode: 'authentication/signupSendCode',
      loginSendCode: 'authentication/loginSendCode',
      login: 'authentication/login'
    }),
    changeStatus(status) {
      this.status = status;
      status === 'login' ? this.stage = 'phone' : this.stage = 'new'
    },
    async setForm(profile, done = () => {}) {
       const res = await this.signupSendCode({ ...profile, regionCode: this.regionCode })

      if (res.status === 'success') {
        this.phone = profile.phone
        this.stage = 'code';
      }

      done()
    },
    async setPhone({ phone }, done = () => { }) {
      const res = await this.loginSendCode({ phoneOrEmail: phone, regionCode: this.regionCode })

      if (res.status === 'success') {
        this.phone = phone
        this.stage = 'code';
      }

      done()
    },
    async setCode({ code }, done = () => { }) {
      const res = await this.login({ phoneOrEmail: this.phone, regionCode: this.regionCode, code })

      if (res.status === 'success') {
        this.$router.push({ name: 'Venues' })
      }

      done()
    },
    onBack () {
      this.stage = 'phone';
    }
  }
})
</script>

<style lang="scss" scoped>
.login-container {
  max-width: 700px;
  margin: auto;
}
</style>
