<template>
  <div>
    <p class="text-20 q-mb-sm mobile-margin">{{$t('venues.title')}}</p>
    <venues-search @onSearch="onSearch" />

    <div v-if="venues.search && venues.search.length" class="q-mb-md">
      <basic-list :list="venues.search" item-class="q-pa-none">
        <template v-slot="{ item }">
          <venue-item :venue="item" @openVenue="onOpenVenue" />
        </template>
      </basic-list>
    </div>

    <div v-else>
      <div v-if="venues.system" class="q-mb-md">
        <p class="text-18 q-mb-sm">{{$t('app.system')}}</p>
        <basic-list :list="venues.system" item-class="q-pa-none">
          <template v-slot="{ item }">
            <venue-item :venue="item" @openVenue="onOpenVenue" />
          </template>
        </basic-list>
      </div>

      <div v-if="venues.user">
        <p class="text-18 q-mb-sm">{{$t('app.venues')}}</p>
        <basic-list :list="venues.user" item-class="q-pa-none">
          <template v-slot="{ item }">
            <venue-item :venue="item" @openVenue="onOpenVenue" />
          </template>
        </basic-list>
      </div>
    </div>

    <p v-if="!venues.system && !venues.user" class="text-21 q-mt-xl">{{$t('venues.noVenues')}}</p>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import VenuesSearch from 'components/views/venues/VenuesSearch.vue'
import VenueItem from 'components/views/venues/VenueItem.vue'
import BasicList from 'components/views/common/list/BasicList.vue'

export default {
  name: 'VenuesController',
  components: { VenuesSearch, VenueItem, BasicList },
  props: ['venues'],
  computed: {
    ...mapState({
      profile: state => state.user.profile
    }),
  },
  methods: {
    ...mapActions({
      searchVenues: 'venues/searchVenues'
    }),
    ...mapMutations({
      setCmsId: 'application/setCmsId',
    }),
    onOpenVenue(cmsId) {
      this.setCmsId(cmsId);
      this.$router.push({ name: 'venue', params: { cmsId } })
    },
    onSearch(terms) {
      this.searchVenues({ terms })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
