
<template>
  <basic-button
    :elem="{ flat: true, padding: 'none' }"
    :bold="false"
    content="true"
    class="venue-item items-start full-width row q-mb-xs"
    @onClick="$emit('openVenue', venue.cms_id)"
  >
    <template v-slot>
      <div class=" bg-primary q-px-sm q-py-lg">
        <img src="/icons/common/venue.svg" />
      </div>
      <div class="column items-center q-mx-sm">
        <p class="self-start text-16">{{venue.title}}</p>
        <p class="self-start grey-2">{{venue.subtitle}}</p>
      </div>
    </template>
  </basic-button>
</template>

<script>
import BasicButton from 'components/views/common/buttons/BasicButton.vue'
export default {
  name: 'VenuesItem',
  components: { BasicButton },
  props: ['venue'],
  emits: ['openVenue'],
  data: () => ({}),
  methods: {}
}
</script>

<style lang="scss" scoped>
.venue-item {
  box-shadow: 0 2px 4px 0 rgb(192 192 192 / 50%);
  min-height: 80px;
  max-height: 80px;
}
.venue-img {
  width: 22px;
  height: 22px;
}
</style>
