
<template>
  <div class="q-mb-lg mobile-margin row">
    <basic-input
      :elem="{
        value: search,
        outlined: true,
        placeholder: $t('venues.search'),
        prepend: true,
        debounce: 500
      }"
      class="col q-mr-md"
      @update="onUpdate"
    >
      <template v-slot:prepend>
        <q-icon name="search" class="text-20 self-center"/>
      </template>
    </basic-input>

    <basic-button :elem="{ label: $t('venues.searchCmsId')}" class="black-btn col-auto"/>
  </div>
</template>

<script>
import BasicInput from 'components/views/common/forms/BasicInput.vue'
import BasicButton from 'components/views/common/buttons/BasicButton.vue'

export default {
  name: 'VenuesSearch',
  components: { BasicInput, BasicButton },
  props: ['venues'],
  emits: ['onSearch'],
  data: () => ({
    search: 'search'
  }),
  computed: {
  },
  methods: {
   onUpdate(val) {
     this.$emit('onSearch', val)
   }
  }
}
</script>

<style lang="scss" scoped>
.q-input {
  &::v-deep {
    & .q-field__prepend {
      align-self: center;
    }
    & .q-field__control {
      height: 40px;
    }
  }
}

</style>
