<template>
  <div class="fixed-bottom bg-white">
    <tab-display :tabs="tabs" :display="display" @selectDisplay="$emit('selectDisplay', $event)"/>
  </div>
</template>

<script>
import TabDisplay from 'components/views/common/TabDisplay.vue'

export default {
  name: 'FooterMenu',
  components: { TabDisplay },
  props: ['tabs', 'display'],
  emits: ['selectDisplay'],
  data: () => ({}),
  computed: {}, 
  methods: {}
}
</script>

<style lang="scss">
</style>
