<template>
  <q-btn
    :label="elem.label"
    :type="elem.type"
    :icon="elem.icon"
    :icon-right="elem.iconRight"
    :color="elem.color || 'black'"
    :text-color="elem.textColor"
    :no-caps="noCaps"
    :no-wrap="noWrap"
    :flat="elem.flat"
    :outline="elem.outline"
    :glossy="elem.glossy"
    :unelevated="elem.unelevated"
    :round="elem.round"
    :stack="elem.stack"
    :ripple="elem.ripple"
    :dense="elem.dense"
    :disable="elem.disable"
    :loading="elem.loading"
    :padding="elem.padding"
    :class="[{'almoni-bold': bold}, elem.class]"
    class="basic-button"
    @click="$emit('onClick')"
  >
    <slot v-if="content"/>
  </q-btn>
</template>

<script>
export default {
  props: {
    content: {
      default: false
    },
    elem: {
      default: {}
    },
    noCaps: {
      default: true
    },
    noWrap: {
      default: false
    },
    bold: {
      default: false
    },
  },
  emits: ['onClick'],
}
</script>

<style scoped lang="scss">
.basic-button::v-deep {
  .q-focus-helper {
    background: transparent !important;
  }
  & .q-icon {
    font-weight: unset;
  }
}

</style>