<template>
  <div>
    <div class="row justify-between q-pa-sm">
        <basic-button
        :elem="{ flat: true, round: true, dense: false, icon: 'close' }"
        @onClick="$emit('close')"
     />
        <p class="text-18 primary self-center q-mb-none">{{$t('menu.menu')}}</p>
        <div class="space"/>
    </div>

     <basic-list
      :list="menu"
      :clickable="true"
      item-class="row"
      @click="$emit('setLink', $event)"
    >
      <template v-slot="{ item }">
        <img :src="`/icons/profile/${item}.svg`" class="menu-img"/>
        <p class="self-center text-16 grey-1 q-px-sm q-mb-none">{{$t(`menu.${item}`)}} </p>
      </template>
    </basic-list>
  </div>
</template>

<script>
import Vue from 'vue';
import BasicButton from 'components/views/common/buttons/BasicButton.vue'
import BasicList from 'components/views/common/list/BasicList.vue'
import global from 'src/mixins/global'

export default ({
  name: 'MainMenu',
  mixins: [global],
  components: { BasicButton, BasicList },
  emits: ['setLink', 'close'],
  computed: {
    menu() {
      return ['language', 'accessibility', 'logout']
    }
  },
  methods: {}
});
</script>

<style lang="scss" scoped>
.menu-img {
    filter: invert(0.7);
}
.space {
    min-width: 22px;
}
</style>
