<template>
  <div class="sidebar-container column justify-between text-white bg-primary">
    <div>
      <venue-logo :venue="venue"/>

    <basic-list :list="menu" :ripple="true" item-class="q-pa-none" >
      <template v-slot="{ item }" >
        <q-item 
          clickable
          :disable="!item.link"
          :class="{'active-item': activeLink === item.link}" 
          class="row full-width q-py-md q-px-none"
          @click.stop="$emit('setLink', item.link)"
        >
          <q-item-section avatar class="items-center q-pa-none">
            <img v-if="item.icon" :src="itemIcon(item.icon)" />
          </q-item-section>
          <q-item-section class="text-18 text-no-wrap">{{ $t(`menu.${item.title}`) }}</q-item-section>
        </q-item>
      </template>
    </basic-list>
    </div>

    <div class="row justify-between items-center q-px-lg q-py-sm">
      <q-img src="imgs/logo-white.svg" width="90px" height="29px"  />
      <p>V2.1</p>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VenueLogo from 'components/views/menus/VenueLogo.vue'
import BasicList from 'components/views/common/list/BasicList.vue'
import global from 'src/mixins/global';

export default ({
  name: 'SidebarMenu',
  mixins: [global],
  components: { VenueLogo, BasicList },
  props: ['menu', 'activeLink'],
  emits: ['setLink'],
  data: () => ({}),
  computed: {
    venue() {
      return {
        title: this.$t('menu.ontopo'),
        subtitle: this.$t('menu.example')
      }
    },
    isActive() {
      return link => {
        return this.activeLink === link;
      };
    },
    itemIcon() {
      return icon => {
        return `/icons/menu/white/${icon}.svg`
      }
    },
  },
  methods: {}
});
</script>

<style lang="scss" scoped>
.sidebar-container {
  height: 100%;
  color: white;
}
.active-item {
  background-color: #259ed2;
}
</style>
