<template>
  <q-item class="q-pa-md q-ma-none" @click="onClick" clickable>
    <img :src="venue && venue.logo || 'imgs/venue_logo.png'" class="venue-logo" />
    <q-item-section v-if="venue" :class="{ 'text-white': isDesktop }" class="q-pl-sm justify-top" >
      <p class="venue-name text-bold q-ma-none">{{ venue.title || venue.name }}</p>
      <p class="q-ma-none text-17">{{ venue.subtitle }}</p>
    </q-item-section>
    <q-item-section avatar>
      <img v-if="isDesktop" src="/icons/menu/white/arrow-white.svg" />
    </q-item-section>
  </q-item>
</template>

<script>
import Vue from 'vue';
import global from 'src/mixins/global'

export default ({
  name: 'VenueLogo',
  mixins: [global],
  props: ['venue'],
  computed: {
  },
  methods: {
    onClick() {
      // !this.isBusy && this.$router.push('/venues');
    }
  }
});
</script>

<style lang="scss" scoped>
.venue-logo {
  height: 54px;
  width: 54px;
  background: white;
}
.venue-name {
  font-size: 21px;
  line-height: 21px;
}

</style>
