
<template>
  <q-pagination
    v-model="page"
    :color="color"
    :active-color="activeColor"
    :text-color="textcolor"
    :size="size"
    :flat="flat"
    :max="max"
    :max-pages="maxPages"
    :min="min"
    :boundary-numbers="boundaryNumbers"
    :boundary-links="boundaryLinks"
    :direction-links="directionLinks"
    :icon-first="iconFirst"
    :icon-last="iconLast"
    :icon-prev="iconPrev"
    :icon-next="iconNext"
    :position="position"
    @update:model-value="$emit('change', $event)"
  />
</template>

<script>
export default {
  name: 'BasicPagination',
  props: {
    color: {
        default: 'black'
    },
    activeColor: {
        default: 'transparent'
    },
    textcolor: {
        default: 'primary'
    },
    size: {
        default: '16px'
    },
    flat: {
        default: true
    },
    max: {
        default: 2
    },
    maxPages: {
        default: 4
    },
    min: {
        default: 1
    },
    boundaryNumbers: {
        default: false
    },
    boundaryLinks: {
        default: true
    },
    directionLinks: {
        default: true
    },
    iconFirst: {
        default: 'skip_previous'
    },
    iconLast: {
        default: 'skip_next'
    },
    iconPrev: {
        default: 'fast_rewind'
    },
    iconNext: {
        default: 'fast_forward'
    },
    position: {
        default: 'center'
    }
  },
  emits: ['change'],
  data: () => ({
    page: 1
  }),
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>

</style>
