<template>
  <q-page>
    <dashboard-controller/>
  </q-page>
</template>

<script>
import DashboardController from 'components/controllers/menu/DashboardController.vue'
export default {
  name: 'Dashboard',
  components: { DashboardController },
}
</script>

<style lang="scss" scoped>

</style>
