
<template>
  <div>
    <header-dynamic 
      :title="titles.header"
      :back-button="true"
      :btn-text="$t('common.return')"
      class="giftcard-header"
      @onBackButton="onBack"
    />
    <div class="giftcard-wrapper q-mb-xl">
      <p class="text-17 almoni-bold q-ma-md">{{titles.title}}</p>
      <giftcard-controller :giftcard="giftcard" :id="giftcardId"/>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
import HeaderDynamic from 'components/views/common/headers/HeaderDynamic.vue'
import GiftcardController from 'components/controllers/menu/GiftcardController.vue'

export default {
  name: 'GiftcardId',
  components: { HeaderDynamic, GiftcardController },
  data: () => ({}),
  computed: {
    ...mapState({}),
    ...mapGetters({
      giftcards: 'giftcard/getGiftcards',
      giftcard: 'giftcard/getGiftcard'
    }),
    giftcardId() {
      return this.$route.params.giftcardId;
    },
    titles() {
      let title;
      if (this.giftcardId === 'new') {
        title = 'new'
      } else if (this.giftcard?.balance === 0) {
        title = 'done'
      } else title = 'edit'
      return { header: this.$t(`giftcards.headers.${title}`), title: this.$t(`giftcards.titles.${title}`) }
    },
    closeButton() {
      return null
    },
    headerClass() {
      return 'text-black'
    }
  },
  async created() {
    if (!this.giftcard) {
      if (!this.giftcards.length) {
        await this.getGiftcards();
      }
      this.setGiftcard({ name: 'giftcardId', val: this.giftcardId })
    }
  },
  methods: {
    ...mapMutations({
        setGiftcard: 'giftcard/set'
    }),
    ...mapActions({
      getGiftcards: 'giftcard/getGiftcards',
    }),
    onBack() {
      window.history.back()
    }
  }
}
</script>

<style lang="scss" scoped>
.giftcard-wrapper {
  max-width: 750px;
  margin: auto;
}
.giftcard-header {
  border-bottom: 1px solid #979797;
}
</style>
