<template>
  <q-page>
    <giftcards-controller/>
  </q-page>
</template>

<script>
import GiftcardsController from 'components/controllers/menu/GiftcardsController.vue'

export default {
  name: 'GiftcardPage',
  components: { GiftcardsController },
  data: () => ({}),
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>
</style>
