<template>
  <q-page>
    <p> venue page </p>
  </q-page>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'VenuePageIndex',
  // components: { Dashboard, Rsvp },
  computed: {},
  methods: {
    ...mapMutations({
    }),
    ...mapActions({
    })
  }
}
</script>
