<template>
  <q-page>
    <rsvp-controller/>
  </q-page>
</template>

<script>
import { mapMutations, mapActions } from 'vuex'
import RsvpController from 'components/controllers/menu/RsvpController.vue'

export default {
  name: 'Rsvp',
  components: { RsvpController },
  data: () => ({}),
  computed: {},
  created() {
    this.setRsvp();
  },
  methods: {
    ...mapMutations({}),
    ...mapActions({
      setRsvp: 'rsvp/setRsvp',
    }),
  }
}
</script>

<style lang="scss" scoped>
</style>
