<template>
  <q-page class="">
  </q-page>
</template>

<script>
import Vue from 'vue';
import moment from 'moment'
import { mapState, mapMutations } from 'vuex'
// import HeaderDynamic from 'components/views/common/HeaderDynamic.vue'

export default ({
  name: 'DashboardController',
  // components: { HeaderDynamic },
  computed: {
    ...mapState({
      dateKey: state => state.rsvp.dateKey,
    }),
    title() {
      return this.$t(`menu.dashboard`)
    },
  },
  created() {
    // this.setDates();
  },
  methods: {
     ...mapMutations({
      setDateKey: 'rsvp/setDateKey',
      setShowDates: 'rsvp/setShowDates',
    }),
    setDates() {
      const dates = {from: moment().format('DD/MM/YY')};
      this.setDateKey(dates);
    },
    selectDate(val) {}
  }
});
</script>
<style lang="scss" scoped>
.page-container {
  min-width: 100%;
  margin: auto;
}
@media (min-width: $breakpoint-md-min) {
  .page-container {
    // max-width: 740px;
    // min-width: 740px;
  }
}
</style>
