<template>
  <q-page>
    <giftcard-actions v-if="giftcards.length" :giftcards="giftcards" class="q-mb-sm" @openGiftcard="onOpenGiftcard"/>
    <giftcard-summary :summary="giftcards.length"/>
    <giftcard-list :list="giftcards" @openGiftcard="onOpenGiftcard"/>
  </q-page>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
import GiftcardActions from 'components/views/giftcard/GiftcardActions.vue'
import GiftcardSummary from 'components/views/giftcard/GiftcardSummary.vue'
import GiftcardList from 'components/views/giftcard/GiftcardList.vue'

export default {
  name: 'GiftcardsController',
  components: { GiftcardActions, GiftcardSummary, GiftcardList },
  data: () => ({}),
  computed: {
    ...mapState({}),
    ...mapGetters({
      giftcards: 'giftcard/getGiftcards'
    }),
  },
  created() {
    if (!this.giftcards.length) {
      this.getGiftcards();
    }
  },
  methods: {
    ...mapMutations({}),
    ...mapActions({
      getGiftcards: 'giftcard/getGiftcards',
    }),
    ...mapMutations({
      setGiftcard: 'giftcard/set'
    }),
    onOpenGiftcard(item) {      
      this.setGiftcard({ name: 'giftcardId', val: item.id })
      this.$router.push({ name: 'GiftcardId', params: { giftcardId: item.id } })
    },
  }
}
</script>

<style lang="scss" scoped>
</style>
