<template>
  <div>
    <edit-giftcard v-if="giftcard" :loading="loading" :giftcard="giftcard" :managers="managers" @onSubmit="onSubmit"/>
    <add-giftcard v-else :types="types" :loading="loading" @onSubmit="onSubmit"/>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
import EditGiftcard from 'components/views/giftcard/EditGiftcard.vue'
import AddGiftcard from 'components/views/giftcard/AddGiftcard.vue'

export default {
  name: 'GiftcardController',
  components: { EditGiftcard, AddGiftcard },
  props: ['giftcard', 'id'],
  data: () => ({
    loading: false
  }),
  computed: {
    ...mapState({
      types: state => state.giftcard.giftcardTypes,
      managers: state => state.giftcard.managers,
    }),
    ...mapGetters({})
  },
  methods: {
    ...mapMutations({}),
    ...mapActions({
      addGiftcard: 'giftcard/addNewGiftcard',
      editGiftcard: 'giftcard/editGiftcard',
    }),
    onSubmit(data) {
      this.loading = true;
      const { type, val } = data;
      setTimeout(() => {
        if (type === 'add') {
          this.addGiftcard(val)
          window.history.back()
        } else {
          this.editGiftcard(val);
          this.scrollToAction()
        }
        this.loading = false;
      }, 1500)
    },
    scrollToAction() {
      setTimeout(() => {
        const el = document.getElementById('util-title');
        const offset = !!el && el.offsetTop - 100 || 100;
        window.scrollTo({ top: offset, behavior: 'smooth' })
       }, 500)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
