<template>
  <div class="full-width">
    <rsvp-actions class="q-mb-sm" v-if="display === 'list'" :summary="summary" :filter.sync="filter" @select-filter="selectFilter" />
    <rsvp-summary v-if="showSummary" :summary="rsvpSummary"/>
    <rsvp-list v-if="display === 'list'" :list="filterRsvp" :summary="rsvpSummary" :filter="filter"/>
    <rsvp-graph v-else/>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
import RsvpActions from 'components/views/rsvp/RsvpActions.vue'
import RsvpSummary from 'components/views/rsvp/RsvpSummary.vue'
import RsvpList from 'components/views/rsvp/RsvpList.vue'
import RsvpGraph from 'components/views/rsvp/RsvpGraph.vue'
export default {
  name: 'RsvpController',
  components: { RsvpActions, RsvpSummary, RsvpList, RsvpGraph },
  data: () => ({}),
  computed: {
    ...mapState({
      filterKey: state => state.rsvp.filterKey,
      dateKey: state => state.rsvp.dateKey,
      showAllDates: state => state.rsvp.showAllDates,
      display: state => state.application.displayKey,
    }),
    ...mapGetters({
      summary: 'rsvp/rsvpSummary',
      filterRsvp: 'rsvp/filterRsvp',
    }),
    rsvpSummary() {
      return Object.entries(this.summary).map(([key, value]) => {
        return { key, value };
      });
    },
    showSummary() {
      return this.display === 'list' && (this.filter === '' || this.filter === 'total');
    },
    filter: {
      get() {
        return this.filterKey
      },
      set(val) {
        this.setFilterKey(val)
      }
    },
  },
  created() {
    this.setFilterKey('total')
  },
  methods: {
    ...mapMutations({
      setFilterKey: 'rsvp/setFilterKey',
      setDateKey: 'rsvp/setDateKey',
    }),
    ...mapActions({}),
    selectFilter(val) {
      this.filter = val
    },
  }
}
</script>

<style lang="scss" scoped>
</style>
