
<template>
   <div>
    <basic-form 
      :form="form" 
      class="add-form-container"
      @select="updateType" 
      @onSubmit="$emit('onSubmit', {type: 'add', val: $event})" 
    >
      <template v-slot:action>
         <div v-if="giftcardType" class="border-y q-px-lg q-py-sm">
            <p class="text-17 almoni-bold q-mb-sm">{{$t('giftcards.details.terms')}}</p>
            <p v-for="(term, idx) in termsToShow" :key="idx" class="text-15 q-mb-xs">{{term}}</p>
         </div>
        <basic-button :elem="submitBtn" class="black-btn text-16 q-ma-lg" />
      </template>
    </basic-form>
   </div>
</template>

<script>
import BasicForm from 'components/views/common/forms/BasicForm.vue'
import BasicButton from 'components/views/common/buttons/BasicButton.vue'

export default {
  name: 'AddGiftcard',
  components: { BasicForm, BasicButton },
  props: ['types', 'loading'],
  emits: ['onSubmit', 'onUpdate'],
  data: () => ({
     giftcardType: null,
  }),
  computed: {
     termsToShow() {
        const type = this.types.find(type => type.id === this.giftcardType)
        return type?.terms
     },
     labelToShow() {
         const type = this.types.find(type => type.id === this.giftcardType)
        return type?.label || this.$t('giftcards.util.selectType')
     },
     submitBtn() {
        return {
           type: 'submit',
           label: this.$t('giftcards.util.action'),
           loading: this.loading
         }
     },
     form() {
       return {
         fields: {
           type: {
             kind: 'basicSelect',
             value: null,
             label: this.labelToShow,
             model: this.giftcardType,
             options: this.types,
             optionValue: 'id',
             optionLabel: 'label',
             mapOptions: true,
             emitValue: true,
             outlined: true,
             behavior: 'menu',
             class: 'full-width input text-left q-mb-lg q-px-lg',
           },
           value: {
             kind: 'basicInput',
             value: null,
             outlined: true,
             dense: true,
             placeholder: this.$t('giftcards.details.value'),
             inputClass: 'input-inner full-width input text-left',
             class: 'q-mb-lg q-px-lg',
           },
           name: {
             kind: 'basicInput',
             value: null,
             outlined: true,
             dense: true,
             placeholder: this.$t('giftcards.details.name'),
             inputClass: 'input-inner full-width input text-left',
             class: 'q-mb-lg q-px-lg',
           },
           phone: {
             kind: 'basicInput',
             value: null,
             outlined: true,
             dense: true,
             placeholder: this.$t('giftcards.details.phone'),
             inputClass: 'input-inner full-width input text-left',
             class: 'q-mb-lg q-px-lg',
           },
           expirity: {
             kind: 'basicInput',
             value: null,
             outlined: true,
             dense: true,
             placeholder: this.$t('giftcards.details.expirity'),
             inputClass: 'input-inner full-width input text-left',
             class: 'q-mb-lg q-px-lg',
           },
         }
       }
     },
  },
  methods: {
    updateType(val) {
       this.giftcardType = val;
       this.$emit('onUpdate', val)
    }
  }
}
</script>

<style lang="scss" scoped>
.giftcard-item {
    border-bottom: 1px solid #97979733;
    border-top: 1px solid #97979733;
}

.add-form-container::v-deep {
   & .q-input .input-inner {
      padding: 8px 0;
   }
} 
</style>
