
<template>
   <div>
      <giftcard-item :item="giftcard" :details="true" class="border-y q-mb-sm"/>
      <giftcard-details :item="giftcard" :details="true" class="q-mb-lg"/>
      <giftcard-utilize 
         v-if="giftcard.balance !== 0" 
         :giftcard="giftcard" 
         :managers="managers" 
         :loading="loading"
         :balance="giftcard.balance"
         class="q-mb-lg" 
         @submit="$emit('onSubmit', {type: 'edit', val: $event})"
      />
      <util-summary v-if="giftcard.util && giftcard.util.length" :list="giftcard.util" class="q-mb-lg"/>
   </div>
</template>

<script>
import GiftcardItem from 'components/views/giftcard/GiftcardItem.vue'
import GiftcardDetails from 'components/views/giftcard/GiftcardDetails.vue'
import GiftcardUtilize from 'components/views/giftcard/GiftcardUtilize.vue'
import UtilSummary from 'components/views/giftcard/UtilSummary.vue'

export default {
  name: 'EditGiftcard',
  components: { GiftcardItem, GiftcardDetails, GiftcardUtilize, UtilSummary },
  props: ['loading', 'giftcard', 'managers'],
  emits: ['onSubmit'],
  data: () => ({}),
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>
</style>
