<template>
  <div class="summary-container row q-px-md q-px-md-none">
    <p class="text-17 grey-2 q-mb-sm">{{summaryText}}</p>
  </div>
</template>

<script>
export default {
  name: 'GiftcardSummary',
  props: ['summary'],
  computed: {
    summaryText() {
      return `${this.summary} ${this.$t('giftcards.giftcards')}`
    }
  }
}
</script>

<style lang="scss" scoped>
.summary-container {
  .q-item {
    min-height: unset;
  }
}
</style>
