<template>
  <div>
    <p v-if="list.length === 0" class="text-18 q-mx-md">{{$t('rsvp.noList')}}</p>
    <basic-list 
        :list="listPerPage[page.toString()]" 
        :clickable="true"
        item-class="shadow-list"
        @click="$emit('openGiftcard', $event)"  
      >
      <template v-slot="{ item }" >
        <giftcard-item v-if="item" :item="item" class="item-container"/>
      </template>
    </basic-list>

    <div class="pagination-container q-pa-md flex flex-center">
      <basic-pagination v-if="maxPage > 1" :max="maxPage" @change="onChange"/>
    </div>
  </div>
</template>

<script>
import BasicList from 'components/views/common/list/BasicList.vue'
import GiftcardItem from 'components/views/giftcard/GiftcardItem.vue'
import BasicPagination from 'components/views/common/pagination/BasicPagination.vue'
import global from 'src/mixins/global';

export default {
  name: 'GiftcardList',
  mixins: [global],
  components: { BasicList, GiftcardItem, BasicPagination },
  props: ['list'],
  data: () => ({
    page: 1,
    itemsPerPage: 10,
    index: null,
    hide: false
  }),
  computed: {
    maxPage() {
      const lenth = this.list.length;
      const extraPage = lenth % this.itemsPerPage > 0 ? 1 : 0
      return Math.floor(lenth / this.itemsPerPage) + extraPage;
    },
    listPerPage() {
      const count = this.itemsPerPage;
      const list = {}
      for (let i = 0; i < this.maxPage; i++) {
        list[(i+1).toString()] = this.list.slice(i * count, (i + 1) * count);
      }
      return list;
    },
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.header-section {
  min-width: 320px;
}
.pagination-container {
  background-color: #f7f7f7;
  width: 100%;
}

@media (max-width: $breakpoint-sm-max) {  
}

@media (min-width: $breakpoint-md-min) {
  .header-section {
    min-width: 420px;
  }
  .pagination-container {
    background-color: #fff;
    right: 0;
    left: unset;
  }
}
</style>
