
<template>
   <div class="item-details column full-width q-px-md">
      <div class="title-container row full-width text-15 q-mb-sm">
         <p class="grey-2 col-3">{{title('name')}}:</p>
         <p>{{item.name}}</p>
      </div>
      <div class="title-container row full-width text-15 q-mb-sm">
         <p class="grey-2 col-3">{{title('phone')}}:</p>
         <a :href="`tel:${item.phone}`" class="a-link">{{item.phone}}</a>
         <img src="/icons/common/phone.svg" class="q-mx-xs"/>
      </div>
      <div class="title-container row full-width text-15 q-mb-sm">
         <p class="grey-2 col-3">{{title('expirity')}}:</p>
         <p>{{expirity}}</p>
      </div>
      <div class="title-container row full-width text-15 q-mb-sm">
         <p class="grey-2 col-3">{{title('id')}}:</p>
         <p>{{item.id}}</p>
      </div>
      <div class="title-container row full-width text-15 q-mb-sm">
         <p class="grey-2 col-3">{{title('terms')}}:</p>
         <div>
            <p v-for="(term, idx) in item.terms" :key="idx">{{term}}</p>
         </div>
      </div>
   </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'GiftcardDetails',
  props: ['item'],
  data: () => ({}),
  computed: {
    title() {
      return val => {
         return this.$t(`giftcards.details.${val}`)
      }
    },
    expirity() {
      const daysAhead = this.item.expirity;
      return moment().add(+daysAhead, 'days').locale('he').format('DD/MM/YY')
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.item-details {
   border-bottom: 1px solid #97979733;
}
.title-container {
   line-height: 1.9;
}
</style>
