
<template>
   <div :class="isUtilized? 'utilized': 'available'" class="item-container row no-wrap full-width">
      <div class="giftcard-container row items-center q-pa-sm">
         <q-img src="/icons/giftcard/gift-white.svg" width="22px" class="giftcard-icon"/>
      </div>
      <div class="row no-wrap full-width justify-between text-15 q-px-sm">
         <div class="column justify-center">
            <p :class="{'grey-2': details}">{{title}}</p>
            <p :class="{'grey-2': !details}">{{item.label}}</p>
         </div>
         <div v-if="showValue" class="row">
            <q-separator vertical class="q-mr-sm q-my-sm"/>
            <p class="self-center q-mx-sm">{{value}}&nbsp;&#8362;</p>
         </div>
      </div>
   </div>
</template>

<script>
export default {
  name: 'GiftcardItem',
  props: ['item', 'details'],
  data: () => ({}),
  computed: {
     isUtilized() {
        return this.item.balance === 0;
     },
     title() {
        return this.details ? this.$t('giftcards.type') : this.item.name
     },
     showValue() {
        return !this.details || this.item.balance > 0 
     },
     value() {
        return this.details ? this.item.balance : this.item.total_value
     }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.item-container {
   height: 81px;
}
.giftcard-icon {
   height: 18px;
   z-index: 5;
}
.available {
   & .giftcard-container {
      background-color: $primary;
   }
}
.utilized {
   & .giftcard-container {
      background-color: #c9c9c9;
   }
}
</style>
