
<template>
  <div class="column full-width border-bottom q-px-md q-pb-md">
    <p id="util-title" class="text-17 bold q-mb-sm">{{$t('giftcards.util.title')}}</p>
    <basic-select 
      :elem="selectElem" 
      :model="selectManager" 
      class="util-input q-mb-sm" 
      @update:model-value="onUpdate({ type: 'selectManager', val: $event })"
    />
    <basic-input 
      :elem="inputElem" 
      class="util-input q-mb-sm" 
      @update:model-value="onUpdate({ type: 'value', val: $event })"
    />
    <basic-button 
      :elem="btnElem" 
      class="util-btn black-btn text-16"
      @onClick="onSubmit"
    />
  </div>
</template>

<script>
import global from 'src/mixins/global';
import BasicSelect from 'components/views/common/forms/BasicSelect.vue'
import BasicInput from 'components/views/common/forms/BasicInput.vue'
import BasicButton from 'components/views/common/buttons/BasicButton.vue'

export default {
  name: 'GiftcardUtilize',
  mixins: [global],
  components: { BasicSelect, BasicInput, BasicButton },
  props: ['managers', 'loading', 'balance'],
  emits: ['submit'],
  data: () => ({
    selectManager: null,
    value: null
  }),
  computed: {
    selectElem() {
      return {
        options: this.managers,
        emitValue: true,
        label: this.selectManager || this.$t('giftcards.util.selectManager'),
        outlined: true, 
        behavior: 'menu'
      }
    },
    inputElem() {
      return {
        value: this.value,
        label: this.$t('giftcards.util.selectValue'), 
        outlined: true, 
        dense: true,
        rules: this.valueRules
      }
    },
    btnElem() {
      return {
        label: this.$t('common.send'), 
        loading: this.loading,
        disable: !this.selectManager || !this.value
      }
    },
    valueRules() {
      return [
        v => !!v || this.$t('rules.value'),
        v => v && v <= this.balance || this.$t('rules.balance')
      ]
    }
  },
  methods: {
    onUpdate(data) {
      this[data.type] = data.val;
    },
    onSubmit() {
      this.$emit('submit', { name: this.selectManager, value: this.value })
      setTimeout(() => {
        this.selectManager = null;
        this.value = null;
      }, 1500)
    }
  }
}
</script>

<style lang="scss" scoped>
.util-input {
  width: 100%;
}
.util-btn {
  width: 200px;
}

@media (min-width: $breakpoint-md-min) {
  .util-input {
    width: 400px;
  }
}
</style>
