
<template>
  <div class="column full-width q-px-md">
    <p id="util-summary" class="text-17 bold">{{$t('giftcards.headers.done')}}</p>
    <basic-list :list="list" item-class="q-px-none">
      <template v-slot="{ item }">
        <div class="row">
          <div class="text-16 column">
            <p class="grey-2">{{$t('giftcards.util.managerTitle')}}</p>
            <p>{{item.name}}</p>
          </div>
          <div class="text-16 column q-mx-md">
            <p class="grey-2">{{$t('giftcards.util.value')}}</p>
            <p>{{item.value}}&nbsp;&#8362;</p>
          </div>
          <div class="text-16 column">
            <p class="grey-2">{{$t('giftcards.util.date')}}</p>
            <p>{{utilDate(item.date)}}</p>
          </div>
        </div>
      </template>
    </basic-list>
  </div>
</template>

<script>
import global from 'src/mixins/global';
import moment from 'moment'
import BasicList from 'components/views/common/list/BasicList.vue'
import BasicButton from 'components/views/common/buttons/BasicButton.vue'

export default {
  name: 'UtilSummary',
  mixins: [global],
  components: { BasicList, BasicButton },
  props: ['list'],
  data: () => ({}),
  computed: {
    utilDate() {
      return date => {
        return moment(date).locale('he').format('DD/MM/YY')
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>

@media (min-width: $breakpoint-md-min) {
  
}
</style>
