<template>
  <div class="fullscreen bg-blue text-white text-center q-pa-md flex flex-center">
    <div>
      <div style="font-size: 30vh">
        404
      </div>

      <div class="text-h2">
        <!-- style="opacity:.4" -->
        Oops. Nothing here...
      </div>

      <route-button :elem="{label: 'Go Home', to: '/', color: 'white', textColor: 'primary', unelevated: true}" class="q-mt-xl"/>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import RouteButton from 'components/views/common/buttons/RouteButton.vue'

export default defineComponent({
  name: 'Error404',
  components: { RouteButton },
})
</script>
