<template>
  <q-page>
    <p> Home Page </p>
  </q-page>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'PageIndex',
  computed: {
    ...mapState({
      auth: state => state.authentication.auth,
    }),
  },
  created() {
    const name = this.auth ? 'Venues' : 'Login';
    this.$router.push({ name })
  },
  methods: {
    ...mapMutations({}),
    ...mapActions({})
  }
}
</script>
