<template>
  <div>
    <basic-dialog
      :modal="modal"
      :header="{
        title: 'כותרת',
        closeButton: true,
        onCloseButton: () => { modal = false }
      }"
      @onHide="modal = false"
    />

    <basic-button :content="true">
      <span class="text-negative">dsdasdasdas</span>
    </basic-button>

    <basic-form :form="form" />
  </div>
</template>

<script>
import BasicDialog from 'src/components/views/common/dialogs/BasicDialog.vue'
import BasicForm from 'src/components/views/common/forms/BasicForm.vue'
import BasicButton from 'src/components/views/common/buttons/BasicButton.vue'

export default {
  components: { BasicDialog, BasicForm, BasicButton },
  data() {
    return {
      modal: false,
      form: {
        class: '',
        style: '',
        elems: [
          {
            type: 'basicInput',
            value: '',
            label: 'Enter Text',
            classWrapper: '',
            styleWrapper: ''
          }
        ]
      },
      buttonElem: {
        label: 'Label',
        noCaps: true,
        outline: true,
        glossy: false,
        ripple: false,
        onClick: this.onClick
      }
    }
  },
  methods: {
    onClick() {
      this.modal = true
    }
  }
}
</script>