<template>
  <q-page class="">
    <venues-controller :venues="venues"/>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import VenuesController from 'components/controllers/VenuesController.vue'

export default {
  name: 'VenuesPage',
  components: { VenuesController },
   computed: {
    ...mapState({
      venues: state => state.venues.venues,
    }),
  },
  created() {
    if (!this.venues.length) {
      this.getVenues()
    }
  },
  methods: {
    ...mapActions({
      getVenues: 'venues/getVenues',
    }),

  }
}
</script>

<style lang="scss" scoped>
.page-container {
  width: 350px;
}
</style>
