<template>
  <div class="item-container row no-wrap justify-between items-center full-width q-py-sm">
    <div class="row no-wrap justify-between">
      <basic-button
        :elem="{flat: true, padding: 'none'}"
        :content="true"
        @onClick="$emit('setSideMenu')"
      >
       <template v-slot >
        <img src="/icons/menu/menu-icon.svg" class="menu-icon" />
       </template>
     </basic-button>
      <p :class="[smallDevice? 'text-15' : 'text-20']" class="text-black q-ml-md q-mb-none">{{ title }}</p>
    </div>
    <date-picker v-if="showAction" :dates="dates" @select-date="$emit('selectDate', $event)"/>
  </div>
</template>

<script>
import DatePicker from 'components/views/common/DatePicker.vue'
import BasicButton from 'components/views/common/buttons/BasicButton.vue'
import global from 'src/mixins/global';

export default {
  name: 'HeaderMobile',
  mixins: [global],
  components: { DatePicker, BasicButton },
  props: ['title', 'dates', 'showAction'],
  emits: ['setSideMenu', 'selectDate'],
  data: () => ({}),
  computed: {},
  methods: {}
}
</script>

<style lang="scss">
.menu-icon {
  min-width: 22px;
  min-height: 22px;
}
</style>
