<template>
  <div class="row items-center dynamic-header">
    <div class="dynamic-header-btn col text-left row">
      <basic-button
        v-if="backButton"
        :elem="{
          icon: returnIcon,
          label: btnText,
          flat: true,
          ripple: false,
          dense: true,
          class: 'header-btn'
        }"
        :bold="false"
        class="text-16"
        @onClick="$emit('onBackButton')"
      />

      <basic-button
        v-else-if="closeButton"
        :elem="{
          icon: 'close',
          label: btnText,
          flat: true,
          ripple: false,
          dense: true,
          class: 'header-btn'
        }"
        @onClick="$emit('onCloseButton')"
      />
      <!-- <p class="self-center text-16">{{btnText}}</p> -->
    </div>
    <div class="col-auto text-centet">
      <span class="text-20">{{title}}</span>
    </div>
    <div class="col text-right"></div>
  </div>
</template>

<script>
import BasicButton from "../buttons/BasicButton.vue"

export default {
  name: 'HeaderDynamic',
  components: { BasicButton },
  props: ['title', 'backButton', 'closeButton', 'btnText'],
  emits: ['onBackButton', 'onCloseButton'],
  computed: {
    returnIcon() {
      return this.$q.lang.rtl
        ? 'arrow_forward_ios'
        : 'arrow_back_ios'
    }
  }
}
</script>

<style lang="scss" scoped>
.dynamic-header {
  height: 60px;
  padding: 0px 16px;
}

.dynamic-header-btn::v-deep {
  & .header-btn .q-icon {
    font-size: 16px;
  }
}
</style>