<template>
  <div class="item-container row justify-between full-width q-mb-md">
   <p class="text-20 q-mb-none">{{ title }}</p>
   <div v-if="route !== 'venue'" class="row no-wrap">
      <tab-display v-if="showAction" :tabs="tabs" :display="display" @selectDisplay="$emit('selectDisplay', $event)"/>
      <date-picker v-if="showAction" :dates="dates" @select-date="$emit('selectDate', $event)"/>
    </div>
  </div>
</template>

<script>
import TabDisplay from 'components/views/common/TabDisplay.vue'
import DatePicker from 'components/views/common/DatePicker.vue'

export default {
  name: 'HeaderDesktop',
  components: { TabDisplay, DatePicker },
  props: ['title', 'tabs', 'display', 'dates', 'route', 'showAction'],
  emits: ['selectDisplay', 'selectDate'],
  data: () => ({}),
  computed: {}, 
  methods: {}
}
</script>

<style lang="scss">

</style>
