
//  general
@font-face {
    font-family: Almoni-regular;
    src: url('/fonts/almoni-neue-regular-aaa.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: Almoni-bold;
    src: url('/fonts/almoni-neue-bold-aaa.woff2') format('woff2');
    font-display: swap;
}

p {
    margin-bottom: 0;
}
.header-shadow {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.14),
      0 3px 3px -2px rgba(0, 0, 0, 0.12) !important;
  }
.text-bold {
    font-weight: bold;
}
.almoni-bold {
    font-family: Almoni-bold;
}
.underline {
    text-decoration: underline;
}
.a-link {       //  <a>
    color: inherit;
} 

//  font size:
.text-14 {
    font-size: 14px;
}
.text-15 {
    font-size: 15px;
}
.text-16 {
    font-size: 16px;
}
.text-17 {
    font-size: 17px;
}
.text-18 {
    font-size: 18px;
}
.text-19 {
    font-size: 19px;
}
.text-20 {
    font-size: 20px;
}
.text-21 {
    font-size: 21px;
}

// color
.text-black {
    color: #000000;
}
.grey-1 {
    color: #757575;
}
.grey-2 {
    color: #00000080;
}
.bg-grey {
    background-color: #bdbdbd;
}
.black-btn {
    background-color: #000;
    color: #fff;
}

@media (max-width: $breakpoint-md-min) {
    // spacing
    .mobile-margin {
        margin-left: 16px;
        margin-right: 16px;
    }
}

//
.border-bottom {
    border-bottom: 1px solid #97979733;
}
.border-top {
    border-top: 1px solid #97979733;
}
.border-y {
    border-top: 1px solid #97979733;
    border-bottom: 1px solid #97979733;
}
.ltr {
  direction: ltr #{'/* rtl:ignore */'};
}
.flag-line {
    height: 40%;
    margin-bottom: 16px;
}

