// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #27aae1;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
// $negative  : #ae606b;
$negative  : #c10015;
$info      : #31CCEC;
$warning   : #F2C037;

.primary {
  color: $primary;
}

// BREAKPOINTS
$breakpoint-xs: 599px !default; // up to 599px
$breakpoint-sm: 982px !default; // up to 800px // $breakpoint-sm: 1023px !default; // $breakpoint-sm: 800px !default;
$breakpoint-md: 1439px !default; // up to 1439px
$breakpoint-lg: 1919px !default; // up to 1919px
$breakpoint-xl: 1920px !default; // up to 1919px
$sizes: (
  'xs': 0,
  'sm': (
    $breakpoint-xs + 1
  ),
  'md': (
    $breakpoint-sm + 1
  ),
  'lg': (
    $breakpoint-md + 1
  ),
  'xl': (
    $breakpoint-lg + 1
  )
) !default;

$breakpoint-xs-min: 0 !default;
$breakpoint-xs-max: $breakpoint-xs !default;
$breakpoint-sm-min: map-get($sizes, 'sm') !default;
$breakpoint-sm-max: $breakpoint-sm !default;
$breakpoint-md-min: map-get($sizes, 'md') !default;
$breakpoint-md-max: $breakpoint-md !default;
$breakpoint-lg-min: map-get($sizes, 'lg') !default;
$breakpoint-lg-max: $breakpoint-lg !default;
$breakpoint-xl-min: map-get($sizes, 'xl') !default;
$breakpoint-xl-max: 9999px !default;

$mobile: '(max-width: #{$breakpoint-xs})';
$tablet: '(min-width: #{$breakpoint-xs}) and (max-width: #{$breakpoint-sm})';
$laptop: '(min-width: #{$breakpoint-sm}) and (max-width: #{$breakpoint-lg})';
$desktop: '(min-width: #{$breakpoint-lg})';

