
<template>
  <q-list v-if="list.length">
    <q-item 
      v-for="(item, idx) in list" 
      :key="idx" 
      :clickable="clickable"
      :v-ripple="ripple"
      :padding="padding"
      :class="itemClass"
      @click="clickable && $emit('click', item)"
    >
      <slot :item="item"/>
    </q-item>
  </q-list>
</template>

<script>
export default {
  name: 'BasicList',
  props: {
    list: {
      default: []
    },
    clickable: {
      default: false
    },
    ripple: {
      default: false
    },
    itemClass: {
      default: ''
    },
    padding: {
      default: null
    }
  },
  emits: ['click'],
  data: () => ({}),
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>
.shadow-list {
  padding: 0;
  &::v-deep {
    & .item-container {
      background-color: #fff;
      height: 81px;
      box-shadow: 0 2px 4px 0 rgb(192 192 192 / 50%);
      margin-bottom: 4px;
    }
  }
}
@media (min-width: $breakpoint-md-min) {
  
}

</style>
