
<template>
  <q-list v-if="list.length">
    <q-expansion-item 
      v-for="(item, idx) in list" 
      :key="idx" 
      :id="`${idTag}-${idx}`"
      :model-value="idx === index"
      :expanded-icon="icon" 
      ref="expand"
      group="list"
      :class="[ itemClass, { 'hide-icon': hideIcon }, { 'active': idx === index }]"
      class="expanded-list"
      @after-show="$emit('afterShow', idx)"
      @hide="$emit('hide')"
    >
      <!-- item's header, allways shown -->
      <template v-slot:header >
        <slot name="header" :item="item" :idx="idx"/>
      </template>

      <!-- item's content, show on expand -->
      <slot name="expand" :item="item" :idx="idx"/>
    </q-expansion-item>
  </q-list>
</template>

<script>
export default {
  name: 'ExpandedList',
  props: {
    list: {
      default: []
    },
    itemClass: {
      default: null
    },
    index: {
      default: null
    },
    icon: {
      default: 'none'
    },
    hideIcon: {
      default: true
    },
    hide: {
      default: false
    },
    idTag: {
      default: 'id'
    },
    itemClass: {
      default: ''
    }
  },
  emits: ['afterShow', 'hide'],
  data: () => ({}),
  computed: {},
  watch: {
    hide() {
      this.$refs.expand.hide()
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.q-expansion-item {
  &::v-deep {
    &.hide-icon .q-item__section--side {
      display: none;
    }
  }
}
.shadow-list {
  &::v-deep {
    & .q-item {
      padding: 0;
    }
    & .item-container {
      background-color: #fff;
      height: 81px;
    }
    & .expansion-container {
      border-top: 1px solid #0000001f;
      box-shadow: 0 2px 4px 0 rgb(192 192 192 / 50%);
      & .q-item {
        padding: 0 24px;
      }
    }
    &:not(.active) {
      & .item-container {
        box-shadow: 0 2px 4px 0 rgb(192 192 192 / 50%);
        margin-bottom: 4px;
      }
    }
  }
}
@media (min-width: $breakpoint-md-min) {
  .shadow-list {
    &::v-deep {
      & .item-container {
        box-shadow: 0 -2px 4px 0 rgb(192 192 192 / 50%);
      }
    }
  }
}
</style>
