<template>
  <div class="date-container">
    <basic-select
      :model="dates"
      :elem="{
        emitValue: true,
        outlined: true,
        behavior: 'menu',
        padding: '0',
        content: true
      }"
      class="date-select"
      @update:modelValue="$emit('selectFilter', $event)"
    >

      <template v-slot>
        <p class="dates-text text-14 text-black q-mb-none">{{showDates}}</p>
        <q-icon class="date-icon cursor-pointer">
          <q-popup-proxy ref="qDate" transition-show="scale" transition-hide="scale">
            <q-date :model-value="dates" minimal range @update:model-value="setDate($event)">
              <div class="row items-center justify-end">
                <basic-button v-close-popup :elem="{ label: $t('common.close'), color: 'primary', flat: true }" />
                <basic-button :elem="{ label: $t('common.reset'), color: 'primary', flat: true }" @onClick="setDate(null)"/>
              </div>
            </q-date>
          </q-popup-proxy>
        </q-icon>
      </template>
    </basic-select>
  </div>
</template>

<script>
import { ref } from 'vue'
import moment from 'moment'
import BasicSelect from 'components/views/common/forms/BasicSelect.vue'
import BasicButton from 'components/views/common/buttons/BasicButton.vue'

export default {
  name: 'DatePicker',
  components: { BasicSelect, BasicButton },
  props: ['dates'],
  emits: ['selectDate'],
  data: () => ({}),
  computed: {
    showDates() {
      const dates = this.dates;
      if (!dates) {
        const date = moment().locale('he').format('dddd, DD/MM/YY');
        return `${this.$t('common.dayForDate')} ${date}`
      }
      if (!dates.to) {
        const date = moment(dates.from).locale('he').format('dddd, DD/MM/YY');
        return `${this.$t('common.dayForDate')} ${date}`
      }
      return `${moment(dates.to).locale('he').format('DD/MM/YY')} - ${moment(dates.from).locale('he').format('DD/MM/YY')}`
    }
  },
  methods: {
    setDate(val) {
      const dates = val ? val.from ? val : { from: val } : null;
      this.$emit('selectDate', dates)
      this.$refs.qDate.hide()
    },
  }
}
</script>

<style lang="scss" scoped>
.date-container {
  height: 34px;
  &::v-deep {
    & .q-select {
      padding-bottom: 0;
      min-width: 170px;
    }
    & .q-field__native {
      display: none;
    }
    & .q-field--outlined .q-field__control {
      border-radius: 0px;
      justify-content: flex-end;
      padding: 0;
    }
    .q-field__marginal,
    .q-field--auto-height .q-field__control,
    .q-field--auto-height .q-field__native {
      min-height: 33px;
      max-height: 33px;
    }
    .q-field--outlined .q-field__control:before {
      border-color: black;
    }
  }
}
.dates-text {
  margin: auto;
}
.date-icon {
  position: absolute;
  right: 0;
  min-width: 170px;
  z-index: 10;
}

</style>