<template>
   <basic-dialog
    :dialog-class="dialogClass"
    :header="{ closeButton: true }"
    :modal.sync="isDialog"
    :elem="{
      seamless: true,
      transitionShow: 'slide-up',
      transitionHide: 'slide-down',
      maximized: $q.screen.lt.md
    }"
    @hide="isDialog = false"
  >
      <template v-slot:content >
        <q-separator />
        <basic-input
          class="q-px-md"
          :value.sync="search"
          :elem="{
            type: 'text',
            placeholder: $t('login.searchCountry'),
            append: true,
            borderless: true
          }"
          @update="onInput"
        >
          <template v-if="search" v-slot:append>
            <q-icon name="close" @click.stop="search = ''" class="cursor-pointer" size="sm" />
          </template>
        </basic-input>

        <q-separator />

        <q-virtual-scroll
          class="virtual-scroll-max-height"
          :items="filteredList"
          ref="virtualListRef"
        >
          <template v-slot="{ item, index }">
            <q-item
              clickable
              v-ripple
              :key="index"
              :id="`${item.iso2}`"
              @click="selectCountry(item, index)"
              class="q-py-sm q-px-md"
              :class="{ 'selected-bg': item.iso2.toLowerCase() === selected }"
            >
              <q-item-section>{{ item.name }}</q-item-section>
              <q-item-section class="items-end">
                <div
                  :id="item.iso2.toLowerCase()"
                  :class="item.iso2.toLowerCase()"
                  class="iti-flag"
                ></div>
              </q-item-section>
            </q-item>
          </template>
        </q-virtual-scroll>
      </template>
    </basic-dialog>
</template>

<script>
import allCountries from 'src/services/all-countries';
import BasicDialog from 'components/views/common/dialogs/BasicDialog.vue'
import BasicInput from 'components/views/common/forms/BasicInput.vue'
import BasicButton from 'components/views/common/buttons/BasicButton.vue'
import Vue from 'vue';

export default ({
  name: 'Flags',
  components: { BasicDialog, BasicInput, BasicButton },
  props: ['dialog', 'country', 'selected'],
  emits: ['dialog', 'update:country', 'selectedCountry'],
  data: function () {
    return {
      search: '',
      selectedCountry: this.country,
      allCountries,
      virtualListIndex: 0,
    };
  },
  computed: {
    filteredList() {
      return this.allCountries.filter((country) => {
        return (
          country.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1
        );
      });
    },
    isDialog: {
      get: function () {
        return this.dialog;
      },
      set: function (value) {
        this.$emit('dialog', value);
      },
    },
    dialogClass() {
      return {
        dialog: this.$q.platform.is.desktop ? 'card-width' : 'full-width',
        header: 'close-button-section',
        content: '', // q-pa-sm
        actions: '' // q-pa-sm
      }
    }
  },
  watch: {
    isDialog: function () {
      if (this.dialog == true) {
        this.$nextTick(() => {
          const ref = this.$refs.virtualListRef;
          // console.log('countries', this.allCountries)
          for (const i in this.allCountries) {
            if (this.allCountries[i].iso2.toLowerCase() == this.country) {
              this.virtualListIndex = parseInt(i);
              ref.scrollTo(i);
            }
          }
        });
      }
    },
  },
  methods: {
    selectCountry(country, index) {
      this.selectedCountry = country;
      this.virtualListIndex = index;
      this.$emit('selectedCountry', country);
      this.search = '';
      this.isDialog = false;
      this.$refs.virtualListRef.scrollTo(this.virtualListIndex);
    },
    onInput(val) {
      this.search = val;
    }
  },
});
</script>

<style scoped lang="scss">
// @import '../../../css/flags.css';

.virtual-scroll-max-height {
  max-height: 80vh;
}
.close-button-section {
  height: 50px;
}
.card-width {
  width: 70vw;
  max-width: 500px;
}
.selected-bg {
  background-color: #ebebeb;
}
</style>
