<template>
  <q-tabs 
    v-if="tabs"
    :model-value="display" 
    :active-bg-color="isDesktop ? 'primary' : 'white'" 
    :switch-indicator="!isDesktop"
    :indicator-color="isDesktop ? 'transparent' : 'primary'" 
    @update:model-value="$emit('selectDisplay', $event)"
    class="q-mr-md-sm"
  >
    <q-tab v-for="tab in tabs" :key="tab" :name="tab" :ripple="false">
      <img :src="tabIcon(tab)"/>
    </q-tab>
  </q-tabs>
</template>

<script>
import global from 'src/mixins/global';

export default {
  name: 'TabDisplay',
  mixins: [global],
  props: ['tabs', 'display'],
  emits: ['selectDisplay'],
  computed: {
    tabIcon() {
      return tab => {
        const active = this.display === tab ? '-active' : '';
        const desktop = this.isDesktop ? '-desktop' : '';
        return `/icons/menu/${tab}${active}${desktop}.svg`
      }
    }
  },
}
</script>

<style lang="scss">
.q-tab {
  max-height: 56px;
  min-height: 56px;
}

@media (min-width: $breakpoint-md-min) {
  .q-tabs {
    border: 1px solid black;
  }
  .q-tab {
    max-height: 31px;
    min-height: 31px;
  }
}
</style>
