
<template>
  <div>
  </div>
</template>

<script>
export default {
  name: '',
  props: [''],
  emits: [''],
  data: () => ({}),
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>

</style>
