<template>
  <q-dialog
    v-model="modal"
    :seamless="elem.seamless"
    :transition-show="elem.transitionShow"
    :transition-hide="elem.transitionHide"
    :maximized="elem.maximized"
    @hide="$emit('hide')"
  >
    <q-card :class="dialogClass.dialog ? dialogClass.dialog : 'card-width'">
      <!-- HEADER -->
      <q-card-section v-if="header" class="q-pa-none">
        <header-dynamic
          :title="header.title"
          :closeButton="header.closeButton"
          :class="dialogClass.header"
          @onCloseButton="$emit('hide')"
        />
      </q-card-section>

      <!-- CONTENT -->
      <q-card-section :class="dialogClass.content" class="q-pa-none">
        <slot name="content" />
      </q-card-section>

      <!-- FOOTER -->
      <q-card-actions :class="dialogClass.actions" class="q-pa-none">
        <slot name="actions" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import HeaderDynamic from '../headers/HeaderDynamic.vue'

export default {
  name: 'BasicDialog',
  components: { HeaderDynamic },
  props: {
    modal: {
      default: false
    },
    elem: {
      default: {},
    },
    header: {
      default: null
    },
    dialogClass: {
      default: {}
    }
  },
  emits: ['update:modal', 'hide'],
  methods: {}
}
</script>

<style scoped lang="scss">
.card-width {
  min-width: 400px;
}
</style>