<template>
 <div id="q-app" class="app">
    <router-view />
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default ({
  name: 'App',
  async created() {
    // await this.setLanguage('he')
  },
  methods: {
    ...mapActions({
      setLanguage: 'application/setLanguage'
    }),
  }
})
</script>

<style lang="scss" scoped>
@media (min-width: $breakpoint-md-min) {
  .app {

  }
}
</style>
