<template>
  <q-input
    v-model="value"
    :name="elem.name"
    :type="elem.inputType"
    :label="elem.label"
    :filled="elem.filled"
    :outlined="elem.outlined"
    :color="elem.color"
    :standout="elem.standout"
    :borderless="elem.borderless"
    :rounded="elem.rounded"
    :square="elem.square"
    :dense="elem.dense"
    :input-class="elem.inputClass"
    :input-style="elem.style"
    :placeholder="elem.placeholder"
    :rules="elem.rules"
    :lazy-rules="elem.lazyRules"
    :debounce="elem.debounce"
    :class="elem.class"
    @clear="$emit('clear', $event)"
    @update:model-value="$emit('update', $event)"
    @focus="$emit('focus', $event)"
    @blur="$emit('blur', $event)"
  >
    <template v-if="elem.append" v-slot:append>
      <slot name="append" />
    </template>
    <template v-if="elem.prepend" v-slot:prepend>
      <slot name="prepend" />
    </template>
  </q-input>
</template>

<script>
export default {
  name: 'BasicInput',
  props: ['elem'],
  emits: ['clear', 'update', 'focus', 'blur'],
  data() {
    return {
      value: null
    }
  },
  watch: {
    value () {
      Object.assign(this.elem, { value: this.value })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>