<template>
<!-- :model="model" -->
<!-- :display-value="elem.label" -->
  <q-select
    v-model="value"
    :label="elem.label"
    :options="elem.options"
    :option-value="elem.optionValue"
    :option-label="elem.optionLabel"
    :map-options="elem.mapOptions"
    :emit-value="elem.emitValue"
    :bg-color="elem.bgColor || 'white'"
    :outlined="elem.outlined"
    :filled="elem.filled"
    :padding="elem.padding"
    :behavior="elem.behavior"
    :dense="elem.dense || true"
    :class="elem.class"
    @update:model-value="$emit('update:model', $event)"
  >
    <slot v-if="elem.content"/>
  </q-select>
</template>

<script>
export default {
  name: 'BasicSelect',
  props: ['model', 'elem'],
  emits: ['update'],
  data () {
    return {
      value: null
    }
  },
  watch: {
    // model () {
    //   Object.assign(this.elem, { value: this.model })
    // },
     value () {
      Object.assign(this.elem, { value: this.value })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>