<!--
  Basic Form Documentation
  https://docs.google.com/document/d/1godF22SK-su2rxMcdQv9yLoEkYur7TOCzaOuKgAdHbA/edit?usp=sharing
 -->
<template>
  <q-form
    :class="form.class"
    :style="form.style"
    :autocomplete="form.autocomplete || 'on'"
    @submit="onSubmit"
  >
    <div
      v-for="(value, key, i) in form.fields"
      :key="`elem-${i}`"
      :class="value.classWrapper"
      :style="value.styleWrapper"
    >
      <basic-input
        v-if="value.kind === 'basicInput'"
        :elem="value"
        @update="$emit('update', $event)"
      />

      <basic-select
        v-else-if="value.kind === 'basicSelect'"
        :elem="value"
        @update:model-value="$emit('select', $event)"
      />
      <!-- :model="value.model" -->

      <phone-input v-else-if="value.kind === 'phoneInput'" :elem="value" />

      <p v-if="value.kind === 'text'">{{value.value}}</p>
    </div>
    <slot name="action" />
  </q-form>
</template>

<script>
import BasicInput from './BasicInput'
import BasicSelect from './BasicSelect'
import PhoneInput from './PhoneInput'

export default {
  name: 'BasicForm',
  components: { BasicInput, BasicSelect, PhoneInput },
  props: ['form'],
  emits: ['onSubmit', 'update', 'select'],
  computed: {
    fields() {
      return Object.keys(this.form.fields)
    }
  },
  methods: {
    onSubmit() {
      const values = {}
      this.fields.forEach(field => {
        Object.assign(values, { [field]: this.form.fields[field].value })
      })
      this.$emit('onSubmit', values)
    }
  }
}
</script>