<template>
  <div>
    <q-input
      v-model="value"
      :name="elem.name"
      :lazy-rules="elem.lazyRules"
      type="tel"
      :color="elem.color"
      :label="elem.label"
      :rules="elem.rules"
      :class="elem.class"
      @update:model-value="$emit('update')"
    >
      <template #append>
        <q-separator vertical class="flag-line self-end q-mx-sm" />
        <div
          @click="showDialog = true"
          :id="regionCode"
          :class="regionCode"
          class="iti-flag cursor-pointer"
        />
        <q-icon
          name="expand_more"
          tabindex="0"
          @keyup.enter="showDialog = true"
          @click="showDialog = true"
        />
      </template>
    </q-input>

    <flags
      :dialog="showDialog"
      :selected="regionCode"
      @dialog="showDialog = false"
      @selectedCountry="selectedCountry"
    />
  </div>
</template>

<script>
import Flags from '../Flags';

export default {
  components: { Flags },
  props: ['elem'],
  emits: ['update'],
  data() {
    return {
      value: null,
      regionCode: this.elem.regionCode,
      showDialog: false
    }
  },
  watch: {
    value () {
      Object.assign(this.elem, { value: this.value })
    },
    regionCode () {
      Object.assign(this.elem, { regionCode: this.regionCode })
    }
  },
  methods: {
    selectedCountry (country) {
      this.regionCode = country?.iso2?.toLowerCase()
    }
  }
}
</script>