<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container class="inner-layout q-mx-auto">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
import global from 'src/mixins/global';

export default ({
  name: 'InnerLayout',
  mixins: [global],
  data: () => ({}),
  computed: {
    ...mapState({}),
    ...mapGetters({}),
  },
  created () {},
  methods: {
    ...mapMutations({}),
    ...mapActions({}),
    
  }
})
</script>

<style scoped>
</style>
