<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="fixed-top bg-white q-py-sm">
      <basic-button
        :elem="{ icon: 'menu', color: 'black', flat: true, ripple: false }"
        @onClick="sideMenu = !sideMenu"
     />
    </q-header>
      <q-drawer
        v-model="sideMenu"
        :width="260"
        side="right"
        class="fit"
      >
      <main-menu @setLink="setLink" @close="sideMenu = false"/>
    </q-drawer>

    <q-page-container class="page-container">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
import BasicButton from 'components/views/common/buttons/BasicButton.vue'
import MainMenu from 'components/views/menus/MainMenu.vue'
import global from 'src/mixins/global';

export default ({
  name: 'MainLayout',
  mixins: [global],
  components: { BasicButton, MainMenu },
  data: () => ({
    sideMenu: false
  }),
  computed: {
    ...mapState({}),
    ...mapGetters({}),
  },
  created () {},
  methods: {
    ...mapMutations({}),
    ...mapActions({}),
    setLink(link) {
      //
    }
  }
})
</script>

<style lang="scss" scoped>
.q-header {
  text-align: right;
}
@media (min-width: $breakpoint-md-min) {
  .page-container {
    max-width: 1080px;
    min-width: 750px;
    padding-left: 330px;
  }
}
</style>
