<template>
  <q-layout view="lHh Lpr lFf">
    <q-header v-if="!isDesktop" class="fixed-top bg-white">
      <header-mobile 
        :title="title"
        :dates="dateKey" 
        :show-action="showAction"
        :route="routeName"
        :class="{ 'header-shadow': currOffset > 0 }"
        class="q-py-sm q-px-md"
        @setSideMenu="sideMenu = true" 
        @select-date="selectDate"
      />
    </q-header>
    <q-drawer
      v-model="sideMenu"
      :width="isDesktop ? 330 : 280"
      side="left"
      show-if-above
      class="fit"
    >
      <sidebar-menu :menu="menuList" :active-link="activeLink" @setLink="setActiveLink"/>    
    </q-drawer>
    <q-page-container class="justify-center row" v-scroll="onScroll">
      <div class="page-container col-auto justify-center q-pt-sm"> 
        <header-desktop 
          v-if="isDesktop" 
          :title="title"
          :route="routeName"
          :tabs="tabs"
          :display.sync="display" 
          :dates="dateKey" 
          :show-action="showAction"
          @select-display="selectDisplay" 
          @select-date="selectDate"
          class="header-desktop q-mt-md" 
        />
        <router-view />
      </div>
    </q-page-container>
    <footer-menu v-if="!isDesktop" :tabs="tabs" :display="display" @select-display="selectDisplay"/>
  </q-layout>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
import HeaderDesktop from 'components/views/common/headers/HeaderDesktop.vue'
import HeaderMobile from 'components/views/common/headers/HeaderMobile.vue'
import SidebarMenu from 'components/views/menus/SidebarMenu.vue'
import FooterMenu from 'components/views/common/footers/FooterMenu.vue'
import global from 'src/mixins/global';
import moment from 'moment'

export default ({
  name: 'MenuLayout',
  mixins: [global],
  components: { HeaderDesktop, HeaderMobile, SidebarMenu, FooterMenu },
  data: () => ({
    sideMenu: false,
    currOffset: 0
  }),
  computed: {
    ...mapState({
      cmsId: state => state.application.cmsId,
      activeLink: state => state.application.activeLink,
      dateKey: state => state.rsvp.dateKey,
      displayKey: state => state.application.displayKey,
    }),
    ...mapGetters({
      menuList: 'application/menuList'
    }),
    routeName() {
      return this.$route.name;
    },
    title() {
      return this.$t(`menu.${this.routeName}`)
    },
    tabs() {
      return ['list', 'graph']
    },
    showAction() {
      return this.routeName === 'dashboard' || this.routeName === 'rsvp'
    },
    display: {
      get() {
        return this.displayKey
      },
      set(val) {
        this.setDisplay(val)
      }
    },
  },
  created () {
    this.getMenuList();   
    this.setRouteLink();
  },
  methods: {
    ...mapMutations({
      setLink: 'application/setActiveLink',
      setFilterKey: 'rsvp/setFilterKey',
      setDateKey: 'rsvp/setDateKey',
      setFilterDates: 'rsvp/setFilterDates',
      setDisplay: 'application/setDisplay',
    }),
    ...mapActions({
      getMenuList: 'application/getMenuList',
    }),
    setRouteLink() {
      const path = this.$route.path;
      const item = this.menuList.find(item => {
        return path.includes(item.link)
      })
      item && this.setLink(item.link)
    },
    setActiveLink(link) {
      this.setLink(link)
      this.$router.push({ name: link, params: { cmsId: this.cmsId } })
    },
    selectDisplay(val) {
      this.display = val
    },
    selectDate(val) {
      this.setDates(val);
      this.setFilterDates(!!val)
    },
    setDates(val) {
      const dates = val || {from: moment().locale('he').format('YYYY/MM/DD')};
      this.setDateKey(dates);
    },
    onScroll(position) {
      this.currOffset = position;
    },
  }
})
</script>

<style lang="scss" scoped>
@media (max-width: $breakpoint-md-min) {
  .q-layout {
    background-color: #f7f7f7;
  }
  .q-toolbar {
    z-index: 5;
  }
  .page-container {
    margin-bottom: 56px;
    border-top: 1px solid #97979780;
    width: 100%;
  }
}
@media (min-width: $breakpoint-md-min) {
  .q-page-container {
    padding-left: 315px;
  }
  .page-container {
    max-width: 1080px;
    min-width: 750px;
  }
}
</style>
